<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h4>Contact us</h4>
                    <ul>
                        <li>184A Corporation Drive,</li>
                        <li>Dolphin Estate, Ikoyi</li>
                        <li>Lagos.</li>
                        <li>Phone: +234 709 873 3256 | Phone 2: +234 709 873 2833 </li>
                        <li>Email: <a href="mailto:info@quantumtravelsng.com" title="Email Us">info@quantumtravelsng.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Mailing list</h4>
                    <p>Sign up if you would like to receive occasional treats from us.</p>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your email address...">
                            <span class="input-group-btn">
                                <button class="btn btn-two" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col col-social-icons">
                    <h4>Follow us</h4>
                    <a href="http://www.facebook.com/QuantumTravels" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="http://www.linkedin.com/company/quantum-travels-limited" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/quantumtravels" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>About us</h4>
                    <p>
                        The Complete Travel and Holiday solutions company for Corporates, Individuals and Families.
                        <br><br>
                        <a href="#" class="btn btn-two">Use Our Travel Engine!</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <a ng-href  data-ng-click="alert('this was clicked')" id="toTop" style="display:inline">
        <span id="toTopHover" style="opacity: 1"></span>To Top
    </a>
</footer>